<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form style</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    
</head>
<body class="bg-stone-800">
    <div class="sticky top-0 w-full border-b-2 border-white bg-stone-800">
        <div class="flex flex-row items-center justify-end mr-4 space-x-2 h-12">
            <a href="#">
                <svg class="icon go-up my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-0 hover:mb-2 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="8" y2="12" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="8" /></svg>
            </a>
            <a href="#footer">
                <svg class="icon go-down my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-2 hover:mb-0 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="8" y1="12" x2="12" y2="16" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="16" /></svg>
            </a>
        </div>
    </div>
    <form action="" method="get" class="flex flex-col items-start max-w-[90%] w-[483px] m-auto">
        <div class="flex flex-col sm:flex-row ">
            <div class="my-2 flex flex-row no-wrap items-center">
                <label class="w-20 mr-2 inline-block text-right text-white font-semibold" for="name">Name:</label>
                <input class="bg-gray-200 px-1 rounded w-screen max-w-[236px] sm:w-40 focus:outline-none ease-in-out duration-150 focus:p-1 focus:bg-white" type="text" name="name" id="name">
            </div>
            <div class="sm:ml-2 my-2 flex flex-row no-wrap items-center">
                <label class="w-20 sm:w-auto inline-block mr-2 text-right text-white font-semibold" for="subject">Subject:</label>
                <input class="bg-gray-200 px-1 rounded w-screen max-w-[236px] sm:w-40 focus:outline-none ease-in-out duration-150 focus:p-1 focus:bg-white" type="text" name="subject" id="subject"> 
            </div>
        </div>
        <div class="ml-[88px]">
            <label class="mr-2 text-right text-white font-semibold" for="spoiler-img">Spoiler Image:</label>
            <input type="checkbox" name="spoiler-img" id="spoiler-img">
        </div>
        <div class="my-2 flex flex-row no-wrap items-center">
            <label class="mr-2 w-20 inline-block text-right text-white font-semibold" for="comment">Comment:</label>
            <textarea class="bg-gray-200 px-1 rounded max-w-80 sm:w-[395px] focus:outline-none ease-in-out duration-150 focus:p-1 focus:bg-white" name="comment" id="comment" cols="30" rows="3"></textarea>
        </div>
        <div class="my-2 flex flex-row no-wrap items-center">
            <label class="mr-2 w-20 inline-block text-right text-white font-semibold" for="file">File: </label>
            <input class="rounded w-80 text-sm focus:outline-none ease-in-out duration-150 focus:p-1 text-white" type="file" name="file" id="file">
        </div>
        <p id="show-more" class="ml-[88px] cursor-pointer text-cyan-400 underline decoration-solid">Show more options</p>
        <p id="show-less" class="ml-[88px] cursor-pointer text-cyan-400 underline decoration-solid hidden">Show less options</p>
        <div id="passwordDel" class="my-2 flex flex-row no-wrap items-center hidden">
            <label class="mr-2 w-20 inline-block text-right text-white font-semibold" for="password">Password:</label>
            <input class="bg-gray-200 px-1 rounded w-36 focus:outline-none ease-in-out duration-150 focus:p-1 focus:bg-white" type="password" name="password" id="password">
            <p id="show-password" class="inline-block ml-1 cursor-pointer text-cyan-400 underline decoration-solid">Show Password</p>
            <p id="hide-password" class="inline-block ml-1 cursor-pointer text-cyan-400 underline decoration-solid hidden">Hide Password</p>
        </div>
        <input type="submit" value="Post" class="cursor-pointer ml-[88px] my-2 mx w-20 py-1 bg-white text-black font-semibold rounded-full border border-purple-200 ease-in-out duration-150 hover:text-white hover:bg-black hover:ring-inset hover:ring-2 hover:ring-white hover focus:outline-none focus:ring-2 focus:ring-indigo-50 focus:ring-offset-2">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#show-more').click(function() {
            $('#show-more').hide();
            $('#show-less').show();
            $('#passwordDel').show("fast");
        });
        $('#show-less').click(function() {
            $('#show-less').hide();
            $('#show-more').show();
            $('#passwordDel').hide("fast");
        });
        function generateRandomString(length) {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < length; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            return text;
            };
        $('document').ready(function() {
            var string = generateRandomString(7);
                $("#password").val(string);
        });

        $('#show-password').click(function() {
            $('#show-password').hide();
            $('#hide-password').css('display','inline-block');
            $('#password').attr('type','text');
        });
        $('#hide-password').click(function() {
            $('#hide-password').hide();
            $('#show-password').show();
            $('#password').attr('type','password');
        });
    </script>
</body>
</html>