<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <style>
        .line-clamp-3 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .line-clamp-2 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    </style>
</head>
<body class="bg-stone-800 text-white" id="body">
    <header class="sticky flex flex-row justify-between items-center top-0 w-full py-2 border-b-2 border-white bg-stone-800">
        <nav class="flex flex-wrap flex-row transition-colors ease-in-out duration-150">
            <a href="home.html" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/home.svg" alt="Inicio" class="w-5 inline-block mr-1 fill-white"> Inicio
            </a>
            <a href="mi-cueva.html" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/list-check.svg" alt="Mi cueva" class="w-5 inline-block mr-1"> Mi Cueva
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/multiple-list.svg" alt="Cuevas" class="w-5 inline-block mr-1"> Cuevas
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/list.svg" alt="Cueva General" class="w-5 inline-block mr-1"> Cueva General
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/account.svg" alt="Mi Cuenta" class="w-5 inline-block mr-1"> Mi Cuenta
            </a>
            
        </nav>
        
        <div class="mr-4 flex flex-row items-center justify-end space-x-2">
            <a href="#body">
                <svg class="icon go-up my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-0 hover:mb-2 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="8" y2="12" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="8" /></svg>
            </a>
            <a href="#footer">
                <svg class="icon go-down my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-2 hover:mb-0 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="8" y1="12" x2="12" y2="16" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="16" /></svg>
            </a>
        </div>
    </header>
    <div class="logo mt-12 text-center">
        <h1 class="text-6xl font-semibold"><span class="text-green-500">D</span>chan</h1>
        <p>Welcome, Lynxchan description</p>
    </div>
    <section class="w-11/12 mx-auto bg-black text-center pb-3 rounded-xl my-5">
        <h2 class="inline-block text-2xl my-3">Cuevas más Populares</h2>
        <div class="text-black">
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-bold">[Cueva General]</span> - General board</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
            <a href="" class="inline-block bg-neutral-200 rounded p-1 mx-2 my-3 ease-in-out duration-150 hover:mx-1 hover:my-2 hover:p-2"><span class="font-semibold">[Retro]</span> - For classic players</a>
        </div>
    </section>
    <div class="flex flex-col md:flex-row items-start justify-between w-11/12 mx-auto">

        <section class="bg-black md:h-[610px] md:w-[49%] rounded-xl text-center">
            <h2 class="text-2xl my-3">Últimas Publicaciones</h2>
            <div class="mx-auto flex flex-col sm:flex-row flex-wrap justify-evenly text-left text-black md:items-center">
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
                <div class="w-11/12 mx-auto sm:mx-0 sm:w-[47%] my-2 bg-neutral-200 rounded p-2">
                    <div class="text-sm font-semibold flex flex-row justify-between mb-1 px-1 md:flex-col xl:flex-row">
                        <p class="text-white bg-green-600 p-1 rounded">[Cueva General] - u/User1234</p>
                        <div class="flex flex-row align-center mt-1">
                            <img class="inline-block h-[19px]" src="../img/icons/clock.svg" alt="Time:">
                            <p class="inline-block">17min</p>
                        </div>
                    </div>
                    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sit est quia omnis alias adipisci aliquam atque suscipit. Possimus, maiores deserunt tempora porro culpa aut molestias harum provident quaerat?</p>
                </div>
            </div>
        </section>

        <section class="bg-black w-full md:w-[49%] md:h-[610px] rounded-xl my-5 md:my-0 text-left">
            <h2 class="text-2xl my-3 text-center">Imágenes más Recientes</h2>
            <div class="grid grid-cols-2 gap-5 grid-rows-3 xl:grid-cols-3 xl:grid-rows-2 justify-items-center content-center place-items-center w-11/12 md:h-[520px] mx-auto my-3">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=200&h=300" alt="">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=350&h=200" alt="">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=170&h=170" alt="">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=300&h=180" alt="">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=150&h=180" alt="">
                <img class="max-w-36 max-h-36 cursor-pointer ease-in-out ring-white p-1 duration-150 hover:rounded-md hover:ring-2 hover:p-0" src="https://api.lorem.space/image?w=180&h=250" alt="">
               
            </div>
        </section>

    </div>
    
    
    <section class="w-11/12 mx-auto my-10 text-center">
        <h2 class="text-2xl">Últimas noticias</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quaerat non quo incidunt impedit aspernatur atque beatae saepe voluptatibus necessitatibus ut eaque tenetur quasi nulla vitae, aliquid earum quos ad!</p>
    </section>
    <section class="w-11/12 mx-auto rounded-xl bg-black mb-10 py-2">
        <h2 class="text-center text-2xl">Estadísticas</h2>
        <p class="w-11/12 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione debitis veniam nobis vero ipsa odit corrupti aut neque exercitationem laborum deserunt, beatae nemo iusto similique! Corrupti, dolorum! Provident, blanditiis libero!</p>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>