<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cueva | Dchan</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body class="bg-stone-800 text-white" id="body">
    <header class="sticky flex flex-row justify-between items-center top-0 w-full py-2 border-b-2 border-white bg-stone-800">
        <nav class="flex flex-wrap flex-row transition-colors ease-in-out duration-150">
            <a href="home.html" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/home.svg" alt="Inicio" class="w-5 inline-block mr-1 fill-white"> Inicio
            </a>
            <a href="mi-cueva.html" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/list-check.svg" alt="Mi cueva" class="w-5 inline-block mr-1"> Mi Cueva
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/multiple-list.svg" alt="Cuevas" class="w-5 inline-block mr-1"> Cuevas
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/list.svg" alt="Cueva General" class="w-5 inline-block mr-1"> Cueva General
            </a>
            <a href="" class="flex flex-row items-center mx-2 hover:text-green-500 transition">
                <img src="../img/icons/account.svg" alt="Mi Cuenta" class="w-5 inline-block mr-1"> Mi Cuenta
            </a>
            
        </nav>
        
        <div class="mr-4 flex flex-row items-center justify-end space-x-2">
            <a href="#body">
                <svg class="icon go-up my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-0 hover:mb-2 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="8" y2="12" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="8" /></svg>
            </a>
            <a href="#footer">
                <svg class="icon go-down my-1 ease-in-out duration-200 hover:fill-white hover:stroke-black hover:mt-2 hover:mb-0 hover:ring-2 hover:ring-white hover:rounded-full" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="8" y1="12" x2="12" y2="16" /><line x1="12" y1="8" x2="12" y2="16" /><line x1="16" y1="12" x2="12" y2="16" /></svg>
            </a>
        </div>
    </header>
</body>
</html>